sftpUser="USUARIO_SFTP"
sftpPassword="PASSWORD_SFTP"
sftpHost="IP_PIAMONTE:22"
sftpDestDir="/ruta/destino/en/piamonte/"
apiPort=":8080"sftpInsecureSkipVerify="false"
sftpKnownHostsFile="/home/tu_usuario/.ssh/known_hosts"
